body {
background-color: #000;
}
/* gonna be lazy a little and just give the background color to the entire document for this */
p {
color:#fff
}

h1 {
color: #fff
}

.container {
width: 600px;
/* background-color: cornsilk; */
margin: auto;
padding: 20px;
}