body {
    background-color: #eeeeee;
}

h1 {
    color: darkgreen
}

p {
    color: #333333
}

img {
    max-width: 100%;
}   

.container {
    width: 700px;
     background-color: #dddddd;
    padding: 20px;
    border: 3px solid #666666;
    border-radius: 15px;
    margin: 30px auto;
}

.content {
    width: 500px;
    float: left;
}

.sidebar {
    width: 200px;
    float: right;
}

.clear {
    clear: both;
}

.topnav {
    background-color: #333333;
    overflow: hidden
}

.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
}

.topnav a:link {
    color: #a5f5ff
}

/* note to self: a:visited does not work in live preview */
/* I suppose browsers store it in cache, and a:visited just reads from that */
/* would explain this as live preview simply not having any type of cache */

.topnav a:visited, .sidebar a:visited {
    color: #696969
}

.topnav a:hover, .sidebar a:hover {
    color: #ca4a4a
}

.topnav a:active, .sidebar a:active {
    color: #5a5a5a
}


.sidebar {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    width: 150px;
    float: right;
    background-color:#333333;
}

.sidebar a {
    display: block;
    color: #a5f5ff;
    padding: 8px 16px;
    text-decoration: none;
}